@page
@model RegisterModel
@{
    ViewData["Title"] = "Skapa Konto";
}

<style>
    .form-floating {
        margin: 10px;
    }
</style>


<div class="row" style="justify-content:center; margin-top:50px;">
    <div class="col-md-4">
        <h1 style="text-align:center;">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Förnamn" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Efternamn" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" placeholder="Födelsedatum" />
                <label asp-for="Input.DateOfBirth"></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="Adress" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ZipCode" class="form-control" aria-required="true" placeholder="Postnummer" />
                <label asp-for="Input.ZipCode"></label>
                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.City" class="form-control" aria-required="true" placeholder="Stad" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Lösenord" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Bekräfta lösenord" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="mt-2 w-100 btn-lg btn btn-primary">Registrera</button>
        </form>
        <div style="margin-top:25px; margin-bottom:75px;">
            <h4 style="text-align:center;">Övriga registreringsmetoder</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-google"></i>&nbsp; Registrera dig med @provider.DisplayName</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
